# snow flake 계정을 주피터 노트북에 연결

In [2]:
from dotenv import load_dotenv
import os
import snowflake.connector
# .env 파일의 환경변수를 로드

load_dotenv(dotenv_path='dev.env')

True

In [3]:
from dotenv import load_dotenv
import os
import snowflake.connector

# .env 파일의 환경변수를 로드
load_dotenv(dotenv_path='dev.env')

def return_snowflake_conn():

    conn = snowflake.connector.connect(
        user=os.environ.get('SNOWFLAKE_USER'),
        password=os.environ.get('SNOWFLAKE_PASSWORD'),
        account=os.environ.get('SNOWFLAKE_ACCOUNT'),
        warehouse = os.environ.get('SNOWFLAKE_WAREHOUSE'),
        database = os.environ.get('SNOWFLAKE_DATABASE')
    )

    return conn.cursor()

In [8]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [9]:
def transform(text):
    lines = text.strip().split("\n")
    records = []
    for l in lines:
      (country, capital) = l.split(",")
      records.append([country, capital])

    return records

In [10]:
def load(cur, records):
    # full refresh로 구현
    # 먼저 테이블을 생성
    target_table = "dev.raw_data.country_capital"
    cur.execute(f"""
    CREATE TABLE IF NOT EXISTS {target_table} (
      country varchar primary key,
      capital varchar
    )""")
    # 레코드를 적재
    for r in records:
        # '와 같은 특수 문자가 INSERT INTO를 깨는 것을 막기 위해 '를 ''로 변경
        # 이 대신에 parameterized INSERT INTO를 대신 사용해도 됨
        country = r[0].replace("'", "''")
        capital = r[1].replace("'", "''")
        sql = f"INSERT INTO {target_table} (country, capital) VALUES ('{country}', '{capital}')"
        print(country, "-", capital, "-", sql)
        cur.execute(sql)

In [11]:
link = "https://s3-geospatial.s3.us-west-2.amazonaws.com/country_capital.csv"

data = extract(link)

In [12]:
len(data)

5069

In [13]:
lines = transform(data)

In [14]:
len(lines)

248

In [15]:
lines[0:10]

[['country', 'capital'],
 ['Abkhazia', 'Sukhumi'],
 ['Afghanistan', 'Kabul'],
 ['Akrotiri and Dhekelia', 'Episkopi Cantonment'],
 ['Albania', 'Tirana'],
 ['Algeria', 'Algiers'],
 ['American Samoa', 'Pago Pago'],
 ['Andorra', 'Andorra la Vella'],
 ['Angola', 'Luanda'],
 ['Anguilla', 'The Valley']]

In [18]:
cur = return_snowflake_conn()
load(cur, lines)

country - capital - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('country', 'capital')
Abkhazia - Sukhumi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Abkhazia', 'Sukhumi')
Afghanistan - Kabul - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Afghanistan', 'Kabul')
Akrotiri and Dhekelia - Episkopi Cantonment - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Akrotiri and Dhekelia', 'Episkopi Cantonment')
Albania - Tirana - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Albania', 'Tirana')
Algeria - Algiers - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Algeria', 'Algiers')
American Samoa - Pago Pago - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('American Samoa', 'Pago Pago')
Andorra - Andorra la Vella - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Andorra', 'Andorra la Vella')
Angola - Luanda - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Angola', 'Luanda')
Anguilla - The Valley - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Anguilla', 'The Valley')
Antigua and Barbuda - St. John''s - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Antigua and Barbuda', 'St. John''s')
Argentina - Buenos Aires - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Argentina', 'Buenos Aires')
Armenia - Yerevan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Armenia', 'Yerevan')
Aruba - Oranjestad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Aruba', 'Oranjestad')
Ascension Island - Georgetown - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ascension Island', 'Georgetown')
Australia - Canberra - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Australia', 'Canberra')
Austria - Vienna - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Austria', 'Vienna')
Azerbaijan - Baku - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Azerbaijan', 'Baku')
Bahamas - Nassau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bahamas', 'Nassau')
Bahrain - Manama - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bahrain', 'Manama')
Bangladesh - Dhaka - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bangladesh', 'Dhaka')
Barbados - Bridgetown - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Barbados', 'Bridgetown')
Belarus - Minsk - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belarus', 'Minsk')
Belgium - Brussels - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belgium', 'Brussels')
Belize - Belmopan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belize', 'Belmopan')
Benin - Porto-Novo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Benin', 'Porto-Novo')
Bermuda - Hamilton - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bermuda', 'Hamilton')
Bhutan - Thimphu - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bhutan', 'Thimphu')
Bolivia - La Paz - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bolivia', 'La Paz')
Bosnia and Herzegovina - Sarajevo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bosnia and Herzegovina', 'Sarajevo')
Botswana - Gaborone - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Botswana', 'Gaborone')
Brazil - Brasââ lia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Brazil', 'Brasââ lia')
British Virgin Islands - Road Town - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('British Virgin Islands', 'Road Town')
Brunei - Bandar Seri Begawan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Brunei', 'Bandar Seri Begawan')
Bulgaria - Sofia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bulgaria', 'Sofia')
Burkina Faso - Ouagadougou - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Burkina Faso', 'Ouagadougou')
Burundi - Bujumbura - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Burundi', 'Bujumbura')
Cambodia - Phnom Penh - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cambodia', 'Phnom Penh')
Cameroon - YaoundâÂ© - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cameroon', 'YaoundâÂ©')
Canada - Ottawa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Canada', 'Ottawa')
Cape Verde - Praia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cape Verde', 'Praia')
Cayman Islands - George Town - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cayman Islands', 'George Town')
Central African Republic - Bangui - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Central African Republic', 'Bangui')
Chad - N''Djamena - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Chad', 'N''Djamena')
Chile - Santiago - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Chile', 'Santiago')
China - Beijing - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('China', 'Beijing')
Christmas Island - Flying Fish Cove - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Christmas Island', 'Flying Fish Cove')
Cocos (Keeling) Islands - West Island - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cocos (Keeling) Islands', 'West Island')
Colombia - BogotâÂ° - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Colombia', 'BogotâÂ°')
Comoros - Moroni - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Comoros', 'Moroni')
Cook Islands - Avarua - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cook Islands', 'Avarua')
Costa Rica - San JosâÂ© - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Costa Rica', 'San JosâÂ©')
Croatia - Zagreb - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Croatia', 'Zagreb')
Cuba - Havana - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cuba', 'Havana')
CuraâÃao - Willemstad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('CuraâÃao', 'Willemstad')
Cyprus - Nicosia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cyprus', 'Nicosia')
Czech Republic - Prague - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Czech Republic', 'Prague')
CâÂ¥te d''Ivoire - Yamoussoukro - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('CâÂ¥te d''Ivoire', 'Yamoussoukro')
Democratic Republic of the Congo - Kinshasa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Democratic Republic of the Congo', 'Kinshasa')
Denmark - Copenhagen - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Denmark', 'Copenhagen')
Djibouti - Djibouti - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Djibouti', 'Djibouti')
Dominica - Roseau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Dominica', 'Roseau')
Dominican Republic - Santo Domingo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Dominican Republic', 'Santo Domingo')
East Timor (Timor-Leste) - Dili - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('East Timor (Timor-Leste)', 'Dili')
Easter Island - Hanga Roa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Easter Island', 'Hanga Roa')
Ecuador - Quito - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ecuador', 'Quito')
Egypt - Cairo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Egypt', 'Cairo')
El Salvador - San Salvador - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('El Salvador', 'San Salvador')
Equatorial Guinea - Malabo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Equatorial Guinea', 'Malabo')
Eritrea - Asmara - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Eritrea', 'Asmara')
Estonia - Tallinn - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Estonia', 'Tallinn')
Ethiopia - Addis Ababa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ethiopia', 'Addis Ababa')
Falkland Islands - Stanley - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Falkland Islands', 'Stanley')
Faroe Islands - Tââ¥rshavn - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Faroe Islands', 'Tââ¥rshavn')
Federated States of Micronesia - Palikir - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Federated States of Micronesia', 'Palikir')
Fiji - Suva - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Fiji', 'Suva')
Finland - Helsinki - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Finland', 'Helsinki')
France - Paris - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('France', 'Paris')
French Guiana - Cayenne - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('French Guiana', 'Cayenne')
French Polynesia - Papeete - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('French Polynesia', 'Papeete')
Gabon - Libreville - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gabon', 'Libreville')
Gambia - Banjul - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gambia', 'Banjul')
Georgia - Tbilisi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Georgia', 'Tbilisi')
Germany - Berlin - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Germany', 'Berlin')
Ghana - Accra - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ghana', 'Accra')
Gibraltar - Gibraltar - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gibraltar', 'Gibraltar')
Greece - Athens - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Greece', 'Athens')
Greenland - Nuuk - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Greenland', 'Nuuk')
Grenada - St. George''s - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Grenada', 'St. George''s')
Guam - Hagââ¢tâÂ±a - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guam', 'Hagââ¢tâÂ±a')
Guatemala - Guatemala City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guatemala', 'Guatemala City')
Guernsey - St. Peter Port - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guernsey', 'St. Peter Port')
Guinea - Conakry - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guinea', 'Conakry')
Guinea-Bissau - Bissau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guinea-Bissau', 'Bissau')
Guyana - Georgetown - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guyana', 'Georgetown')
Haiti - Port-au-Prince - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Haiti', 'Port-au-Prince')
Honduras - Tegucigalpa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Honduras', 'Tegucigalpa')
Hungary - Budapest - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Hungary', 'Budapest')
Iceland - Reykjavââ k - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iceland', 'Reykjavââ k')
India - New Delhi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('India', 'New Delhi')
Indonesia - Jakarta - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Indonesia', 'Jakarta')
Iran - Tehran - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iran', 'Tehran')
Iraq - Baghdad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iraq', 'Baghdad')
Ireland - Dublin - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ireland', 'Dublin')
Isle of Man - Douglas - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Isle of Man', 'Douglas')
Israel - Jerusalem - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Israel', 'Jerusalem')
Italy - Rome - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Italy', 'Rome')
Jamaica - Kingston - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jamaica', 'Kingston')
Japan - Tokyo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Japan', 'Tokyo')
Jersey - St. Helier - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jersey', 'St. Helier')
Jordan - Amman - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jordan', 'Amman')
Kazakhstan - Astana - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kazakhstan', 'Astana')
Kenya - Nairobi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kenya', 'Nairobi')
Kiribati - Tarawa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kiribati', 'Tarawa')
Kosovo - Pristina - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kosovo', 'Pristina')
Kuwait - Kuwait City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kuwait', 'Kuwait City')
Kyrgyzstan - Bishkek - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kyrgyzstan', 'Bishkek')
Laos - Vientiane - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Laos', 'Vientiane')
Latvia - Riga - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Latvia', 'Riga')
Lebanon - Beirut - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lebanon', 'Beirut')
Lesotho - Maseru - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lesotho', 'Maseru')
Liberia - Monrovia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Liberia', 'Monrovia')
Libya - Tripoli - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Libya', 'Tripoli')
Liechtenstein - Vaduz - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Liechtenstein', 'Vaduz')
Lithuania - Vilnius - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lithuania', 'Vilnius')
Luxembourg - Luxembourg - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Luxembourg', 'Luxembourg')
Macedonia - Skopje - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Macedonia', 'Skopje')
Madagascar - Antananarivo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Madagascar', 'Antananarivo')
Malawi - Lilongwe - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malawi', 'Lilongwe')
Malaysia - Kuala Lumpur - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malaysia', 'Kuala Lumpur')
Maldives - MalâÂ© - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Maldives', 'MalâÂ©')
Mali - Bamako - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mali', 'Bamako')
Malta - Valletta - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malta', 'Valletta')
Marshall Islands - Majuro - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Marshall Islands', 'Majuro')
Mauritania - Nouakchott - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mauritania', 'Nouakchott')
Mauritius - Port Louis - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mauritius', 'Port Louis')
Mexico - Mexico City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mexico', 'Mexico City')
Moldova - Chisinau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Moldova', 'Chisinau')
Monaco - Monaco - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Monaco', 'Monaco')
Mongolia - Ulaanbaatar - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mongolia', 'Ulaanbaatar')
Montenegro - Podgorica - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Montenegro', 'Podgorica')
Montserrat - Plymouth - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Montserrat', 'Plymouth')
Morocco - Rabat - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Morocco', 'Rabat')
Mozambique - Maputo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mozambique', 'Maputo')
Myanmar - Naypyidaw - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Myanmar', 'Naypyidaw')
Nagorno-Karabakh Republic - Stepanakert - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nagorno-Karabakh Republic', 'Stepanakert')
Namibia - Windhoek - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Namibia', 'Windhoek')
Nauru - Yaren - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nauru', 'Yaren')
Nepal - Kathmandu - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nepal', 'Kathmandu')
Netherlands - Amsterdam - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Netherlands', 'Amsterdam')
New Caledonia - NoumâÂ©a - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('New Caledonia', 'NoumâÂ©a')
New Zealand - Wellington - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('New Zealand', 'Wellington')
Nicaragua - Managua - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nicaragua', 'Managua')
Niger - Niamey - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Niger', 'Niamey')
Nigeria - Abuja - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nigeria', 'Abuja')
Niue - Alofi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Niue', 'Alofi')
Norfolk Island - Kingston - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Norfolk Island', 'Kingston')
North Korea - Pyongyang - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('North Korea', 'Pyongyang')
Northern Cyprus - Nicosia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Northern Cyprus', 'Nicosia')
United Kingdom Northern Ireland - Belfast - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('United Kingdom Northern Ireland', 'Belfast')
Northern Mariana Islands - Saipan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Northern Mariana Islands', 'Saipan')
Norway - Oslo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Norway', 'Oslo')
Oman - Muscat - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Oman', 'Muscat')
Pakistan - Islamabad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Pakistan', 'Islamabad')
Palau - Ngerulmud - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Palau', 'Ngerulmud')
Palestine - Jerusalem - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Palestine', 'Jerusalem')
Panama - Panama City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Panama', 'Panama City')
Papua New Guinea - Port Moresby - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Papua New Guinea', 'Port Moresby')
Paraguay - Asunciââ¥n - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Paraguay', 'Asunciââ¥n')
Peru - Lima - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Peru', 'Lima')

In [19]:
# table를 읽어서 판다스 데이터프레임으로 변환하고 처음 5개의 레코드와 레코드 수를 표시
def check_table_stats(cur, table, key):
    result = cur.execute(f"SELECT * FROM {table} ORDER BY {key}")
    df = cur.fetch_pandas_all()
    print(len(df))
    print(df.head())
    return df

In [20]:
check_table_stats(cur, "dev.raw_data.country_capital", "country")

744
       COUNTRY  CAPITAL
0     Abkhazia  Sukhumi
1     Abkhazia  Sukhumi
2     Abkhazia  Sukhumi
3  Afghanistan    Kabul
4  Afghanistan    Kabul

         COUNTRY  CAPITAL
0       Abkhazia  Sukhumi
1       Abkhazia  Sukhumi
2       Abkhazia  Sukhumi
3    Afghanistan    Kabul
4    Afghanistan    Kabul
..           ...      ...
739     Zimbabwe   Harare
740     Zimbabwe   Harare
741      country  capital
742      country  capital
743      country  capital

[744 rows x 2 columns]

## ETL 코드를 다시 한번 실행하고 멱등성이 지켜지는지 확인

In [21]:
data = extract(link)
lines = transform(data)
cur = return_snowflake_conn()
load(cur, lines)

country - capital - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('country', 'capital')
Abkhazia - Sukhumi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Abkhazia', 'Sukhumi')
Afghanistan - Kabul - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Afghanistan', 'Kabul')
Akrotiri and Dhekelia - Episkopi Cantonment - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Akrotiri and Dhekelia', 'Episkopi Cantonment')
Albania - Tirana - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Albania', 'Tirana')
Algeria - Algiers - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Algeria', 'Algiers')
American Samoa - Pago Pago - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('American Samoa', 'Pago Pago')
Andorra - Andorra la Vella - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Andorra', 'Andorra la Vella')
Angola - Luanda - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Angola', 'Luanda')
Anguilla - The Valley - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Anguilla', 'The Valley')
Antigua and Barbuda - St. John''s - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Antigua and Barbuda', 'St. John''s')
Argentina - Buenos Aires - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Argentina', 'Buenos Aires')
Armenia - Yerevan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Armenia', 'Yerevan')
Aruba - Oranjestad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Aruba', 'Oranjestad')
Ascension Island - Georgetown - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ascension Island', 'Georgetown')
Australia - Canberra - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Australia', 'Canberra')
Austria - Vienna - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Austria', 'Vienna')
Azerbaijan - Baku - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Azerbaijan', 'Baku')
Bahamas - Nassau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bahamas', 'Nassau')
Bahrain - Manama - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bahrain', 'Manama')
Bangladesh - Dhaka - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bangladesh', 'Dhaka')
Barbados - Bridgetown - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Barbados', 'Bridgetown')
Belarus - Minsk - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belarus', 'Minsk')
Belgium - Brussels - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belgium', 'Brussels')
Belize - Belmopan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belize', 'Belmopan')
Benin - Porto-Novo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Benin', 'Porto-Novo')
Bermuda - Hamilton - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bermuda', 'Hamilton')
Bhutan - Thimphu - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bhutan', 'Thimphu')
Bolivia - La Paz - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bolivia', 'La Paz')
Bosnia and Herzegovina - Sarajevo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bosnia and Herzegovina', 'Sarajevo')
Botswana - Gaborone - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Botswana', 'Gaborone')
Brazil - Brasââ lia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Brazil', 'Brasââ lia')
British Virgin Islands - Road Town - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('British Virgin Islands', 'Road Town')
Brunei - Bandar Seri Begawan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Brunei', 'Bandar Seri Begawan')
Bulgaria - Sofia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bulgaria', 'Sofia')
Burkina Faso - Ouagadougou - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Burkina Faso', 'Ouagadougou')
Burundi - Bujumbura - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Burundi', 'Bujumbura')
Cambodia - Phnom Penh - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cambodia', 'Phnom Penh')
Cameroon - YaoundâÂ© - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cameroon', 'YaoundâÂ©')
Canada - Ottawa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Canada', 'Ottawa')
Cape Verde - Praia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cape Verde', 'Praia')
Cayman Islands - George Town - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cayman Islands', 'George Town')
Central African Republic - Bangui - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Central African Republic', 'Bangui')
Chad - N''Djamena - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Chad', 'N''Djamena')
Chile - Santiago - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Chile', 'Santiago')
China - Beijing - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('China', 'Beijing')
Christmas Island - Flying Fish Cove - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Christmas Island', 'Flying Fish Cove')
Cocos (Keeling) Islands - West Island - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cocos (Keeling) Islands', 'West Island')
Colombia - BogotâÂ° - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Colombia', 'BogotâÂ°')
Comoros - Moroni - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Comoros', 'Moroni')
Cook Islands - Avarua - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cook Islands', 'Avarua')
Costa Rica - San JosâÂ© - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Costa Rica', 'San JosâÂ©')
Croatia - Zagreb - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Croatia', 'Zagreb')
Cuba - Havana - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cuba', 'Havana')
CuraâÃao - Willemstad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('CuraâÃao', 'Willemstad')
Cyprus - Nicosia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cyprus', 'Nicosia')
Czech Republic - Prague - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Czech Republic', 'Prague')
CâÂ¥te d''Ivoire - Yamoussoukro - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('CâÂ¥te d''Ivoire', 'Yamoussoukro')
Democratic Republic of the Congo - Kinshasa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Democratic Republic of the Congo', 'Kinshasa')
Denmark - Copenhagen - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Denmark', 'Copenhagen')
Djibouti - Djibouti - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Djibouti', 'Djibouti')
Dominica - Roseau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Dominica', 'Roseau')
Dominican Republic - Santo Domingo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Dominican Republic', 'Santo Domingo')
East Timor (Timor-Leste) - Dili - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('East Timor (Timor-Leste)', 'Dili')
Easter Island - Hanga Roa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Easter Island', 'Hanga Roa')
Ecuador - Quito - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ecuador', 'Quito')
Egypt - Cairo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Egypt', 'Cairo')
El Salvador - San Salvador - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('El Salvador', 'San Salvador')
Equatorial Guinea - Malabo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Equatorial Guinea', 'Malabo')
Eritrea - Asmara - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Eritrea', 'Asmara')
Estonia - Tallinn - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Estonia', 'Tallinn')
Ethiopia - Addis Ababa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ethiopia', 'Addis Ababa')
Falkland Islands - Stanley - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Falkland Islands', 'Stanley')
Faroe Islands - Tââ¥rshavn - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Faroe Islands', 'Tââ¥rshavn')
Federated States of Micronesia - Palikir - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Federated States of Micronesia', 'Palikir')
Fiji - Suva - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Fiji', 'Suva')
Finland - Helsinki - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Finland', 'Helsinki')
France - Paris - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('France', 'Paris')
French Guiana - Cayenne - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('French Guiana', 'Cayenne')
French Polynesia - Papeete - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('French Polynesia', 'Papeete')
Gabon - Libreville - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gabon', 'Libreville')
Gambia - Banjul - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gambia', 'Banjul')
Georgia - Tbilisi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Georgia', 'Tbilisi')
Germany - Berlin - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Germany', 'Berlin')
Ghana - Accra - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ghana', 'Accra')
Gibraltar - Gibraltar - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gibraltar', 'Gibraltar')
Greece - Athens - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Greece', 'Athens')
Greenland - Nuuk - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Greenland', 'Nuuk')
Grenada - St. George''s - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Grenada', 'St. George''s')
Guam - Hagââ¢tâÂ±a - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guam', 'Hagââ¢tâÂ±a')
Guatemala - Guatemala City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guatemala', 'Guatemala City')
Guernsey - St. Peter Port - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guernsey', 'St. Peter Port')
Guinea - Conakry - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guinea', 'Conakry')
Guinea-Bissau - Bissau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guinea-Bissau', 'Bissau')
Guyana - Georgetown - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guyana', 'Georgetown')
Haiti - Port-au-Prince - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Haiti', 'Port-au-Prince')
Honduras - Tegucigalpa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Honduras', 'Tegucigalpa')
Hungary - Budapest - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Hungary', 'Budapest')
Iceland - Reykjavââ k - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iceland', 'Reykjavââ k')
India - New Delhi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('India', 'New Delhi')
Indonesia - Jakarta - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Indonesia', 'Jakarta')
Iran - Tehran - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iran', 'Tehran')
Iraq - Baghdad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iraq', 'Baghdad')
Ireland - Dublin - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ireland', 'Dublin')
Isle of Man - Douglas - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Isle of Man', 'Douglas')
Israel - Jerusalem - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Israel', 'Jerusalem')
Italy - Rome - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Italy', 'Rome')
Jamaica - Kingston - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jamaica', 'Kingston')
Japan - Tokyo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Japan', 'Tokyo')
Jersey - St. Helier - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jersey', 'St. Helier')
Jordan - Amman - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jordan', 'Amman')
Kazakhstan - Astana - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kazakhstan', 'Astana')
Kenya - Nairobi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kenya', 'Nairobi')
Kiribati - Tarawa - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kiribati', 'Tarawa')
Kosovo - Pristina - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kosovo', 'Pristina')
Kuwait - Kuwait City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kuwait', 'Kuwait City')
Kyrgyzstan - Bishkek - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kyrgyzstan', 'Bishkek')
Laos - Vientiane - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Laos', 'Vientiane')
Latvia - Riga - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Latvia', 'Riga')
Lebanon - Beirut - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lebanon', 'Beirut')
Lesotho - Maseru - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lesotho', 'Maseru')
Liberia - Monrovia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Liberia', 'Monrovia')
Libya - Tripoli - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Libya', 'Tripoli')
Liechtenstein - Vaduz - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Liechtenstein', 'Vaduz')
Lithuania - Vilnius - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lithuania', 'Vilnius')
Luxembourg - Luxembourg - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Luxembourg', 'Luxembourg')
Macedonia - Skopje - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Macedonia', 'Skopje')
Madagascar - Antananarivo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Madagascar', 'Antananarivo')
Malawi - Lilongwe - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malawi', 'Lilongwe')
Malaysia - Kuala Lumpur - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malaysia', 'Kuala Lumpur')
Maldives - MalâÂ© - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Maldives', 'MalâÂ©')
Mali - Bamako - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mali', 'Bamako')
Malta - Valletta - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malta', 'Valletta')
Marshall Islands - Majuro - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Marshall Islands', 'Majuro')
Mauritania - Nouakchott - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mauritania', 'Nouakchott')
Mauritius - Port Louis - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mauritius', 'Port Louis')
Mexico - Mexico City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mexico', 'Mexico City')
Moldova - Chisinau - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Moldova', 'Chisinau')
Monaco - Monaco - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Monaco', 'Monaco')
Mongolia - Ulaanbaatar - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mongolia', 'Ulaanbaatar')
Montenegro - Podgorica - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Montenegro', 'Podgorica')
Montserrat - Plymouth - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Montserrat', 'Plymouth')
Morocco - Rabat - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Morocco', 'Rabat')
Mozambique - Maputo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mozambique', 'Maputo')
Myanmar - Naypyidaw - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Myanmar', 'Naypyidaw')
Nagorno-Karabakh Republic - Stepanakert - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nagorno-Karabakh Republic', 'Stepanakert')
Namibia - Windhoek - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Namibia', 'Windhoek')
Nauru - Yaren - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nauru', 'Yaren')
Nepal - Kathmandu - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nepal', 'Kathmandu')
Netherlands - Amsterdam - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Netherlands', 'Amsterdam')
New Caledonia - NoumâÂ©a - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('New Caledonia', 'NoumâÂ©a')
New Zealand - Wellington - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('New Zealand', 'Wellington')
Nicaragua - Managua - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nicaragua', 'Managua')
Niger - Niamey - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Niger', 'Niamey')
Nigeria - Abuja - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nigeria', 'Abuja')
Niue - Alofi - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Niue', 'Alofi')
Norfolk Island - Kingston - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Norfolk Island', 'Kingston')
North Korea - Pyongyang - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('North Korea', 'Pyongyang')
Northern Cyprus - Nicosia - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Northern Cyprus', 'Nicosia')
United Kingdom Northern Ireland - Belfast - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('United Kingdom Northern Ireland', 'Belfast')
Northern Mariana Islands - Saipan - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Northern Mariana Islands', 'Saipan')
Norway - Oslo - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Norway', 'Oslo')
Oman - Muscat - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Oman', 'Muscat')
Pakistan - Islamabad - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Pakistan', 'Islamabad')
Palau - Ngerulmud - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Palau', 'Ngerulmud')
Palestine - Jerusalem - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Palestine', 'Jerusalem')
Panama - Panama City - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Panama', 'Panama City')
Papua New Guinea - Port Moresby - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Papua New Guinea', 'Port Moresby')
Paraguay - Asunciââ¥n - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Paraguay', 'Asunciââ¥n')
Peru - Lima - INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Peru', 'Lima')

In [23]:
# 결과를 보면 Primary Key Uniqueness가 지켜지지 않음을 알 수 있다
check_table_stats(cur, "dev.raw_data.country_capital", "country")

992
       COUNTRY  CAPITAL
0     Abkhazia  Sukhumi
1     Abkhazia  Sukhumi
2     Abkhazia  Sukhumi
3     Abkhazia  Sukhumi
4  Afghanistan    Kabul

         COUNTRY  CAPITAL
0       Abkhazia  Sukhumi
1       Abkhazia  Sukhumi
2       Abkhazia  Sukhumi
3       Abkhazia  Sukhumi
4    Afghanistan    Kabul
..           ...      ...
987     Zimbabwe   Harare
988      country  capital
989      country  capital
990      country  capital
991      country  capital

[992 rows x 2 columns]